body{
    background-image: url(https://wallpaperaccess.com/full/1867750.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
body::after{
    background-color: rgb(10, 9, 9);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
body *{
    z-index: 10;
}
h1{
    font-size: 60px;
}
#year{
    font-size: 200px;
    position: absolute;
    bottom: 20px;
    opacity: 0.2;
    z-index: -1;
}
#countdown{
    display: none;
    transform: scale(2);
}

.time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.time h2{
    margin-bottom: 5px;
}